{# 发布工作流总结 #}
# 📃 插件 {{ project_link }} ({{ version }})

> **{{ "✅ 插件已尝试运行" if run else "⚠️ 插件未开始运行"}}**
> **{{ "✅ 插件加载成功" if load else "⚠️ 插件加载失败"}}**

## 插件元数据

<pre><code>{{ metadata }}</code></pre>

## 插件输出

<pre><code>{{ output }}</code></pre>

---

💪 Powered by [NoneFlow](https://github.com/nonebot/noneflow)