# 📃 商店下架检查

> {{ title }}

**{{ "✅ 所有检查通过，一切准备就绪！" if valid else "⚠️ 在下架检查过程中，我们发现以下问题："}}**

{% if not valid %}
> ⚠️ {{ error }}
{% else %}
> 成功发起插件下架流程，对应的拉取请求 {{ pr_url}} 已经创建。
{% endif %}

---

💡 如需修改信息，请直接修改 issue，机器人会自动更新检查结果。

💪 Powered by [NoneFlow](https://github.com/nonebot/noneflow)
<!-- NONEFLOW -->
