{% from "render_message.jinja" import render_message %}
{# registry 验证页面所需 #}
{{ "✅ 所有测试通过，一切准备就绪！" if is_valid else "⚠️ 在发布检查过程中，我们发现以下问题：" }}
{% if not is_valid %}
<pre><code>{% for item in fail_data %}<li>⚠️ {{ render_message(item.msg) }}<dt>{{ render_message(item.hint) }}</dt></li>{% endfor %}</code></pre>
{% endif %}

{% if pass_data %}
<details>
  <summary>详情</summary>
  <pre><code>{% for item in pass_data %}<li>✅ {{ render_message(item.msg) }}</li>{% endfor %}</code></pre>
</details>
{% endif %}
